h1 {
  
  font-size: 30pt;
}

body {
    background-color: lightgrey;
}
.floating-box {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 3px solid black;  
}

.after-box {
    clear: left;
    width: 390px;
    margin: 10px;
    border: 3px solid black;      
}
div {
    width: 450px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}